@import "bulma.min.css";
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100% !important;
  width: 100%;
}
#messages {
  font-size: 20px !important;
  position: absolute !important;
  height: 90% !important;
  border: none;
}
#messages p {
  margin-top: -20px;
}
.username::after {
  content: ' » ';
}
.message {
  background-color: transparent !important;
  border-radius: 0px !important;
}
#text {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
input {
  font-size: 20px !important;
  color: #fafafa !important;
  border: none !important;
}
.form-control {
  border-radius: none !important;
}
.center {
  text-align: center;
}
.profile {
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
}
#content {
  margin-top: 25px;
}
#sidebar {
  overflow: hidden;
  overflow-y: auto;
}
