body,
html {
    background-color: #2C3A47;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

/*
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}*/

/*
 * LOGIN & SIGNUP
 */

/*#region*/

.login {
    background-color: #34495e;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.login-form {
    background-color: #edeff1;
    padding: 24px 23px 20px;
    position: relative;
    border-radius: 6px;
}

.login-form .login-field:focus {
    border-color: #e74c3c !important;
}

.login-form .login-field:focus+.login-field-icon {
    color: #e74c3c !important;
}

.login-link:hover {
    color: #e74c3c !important;
}

/*#endregion*/

/*
 * CHAT
 */

/*#region*/

.chat-box .form-group {
    margin: 0 !important;
}

.chat {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.chat-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 250px;
    height: 90%;
    width: 100%;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: 1px 16px;
}

.chat-box {
    flex: none;
}

.chat-side {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #1e272e;
    position: fixed;
    height: 100%;
    text-align: center;
}

.chat-side #users {
    margin-left: 19px;
}

.chat-side .channel {
    text-align: center;
}

.chat-side #channel:before {

    content: 'Connected to #';
}

.chat-side .banner {
    background-color: #2980B9 !important;
    text-align: center;
    color: #edeff1 !important;
    font-size: 18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.username {
    margin-right: 3px;
}

.username:after {
    content: ':'
}

.chat-box {
    margin: 0;
    padding: 0;
    background-color: #1e272e !important;
    width: calc(100% - 250px);
    color: #fff;
    padding-bottom: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.chat-box input {
    background-color: transparent !important;
    font-size: 18px;
    color: #fff;
    border: none !important;
    margin-bottom: 0;
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .chat-side {
        display: none;
    }

    .chat-content {
        margin-left: 0;
    }

    .chat-box {
        width: 100%;
        margin-left: 0;
    }
}

p {
    margin-bottom: 1px;
}


/*#endregion*/