@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');

body,
html {
    background-color: #201F1D;
    color: #eee;
    font-family: "Chakra Petch"
}

html {
    scroll-behavior: smooth;
}

/*
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}*/

/*
 * LOGIN & SIGNUP
 */

/*#region*/
.login {
    /*background-color: #2C3A47;*/
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.login h1 {
    margin: 0 !important;
}

.form-group {
    margin-bottom: 5px !important;
}

.login .label {
    float: left;
    text-align: left;
}

.login-form {
    top: 10vh;
    background-color: #263238;
    padding: 24px 23px 20px;
    position: relative;
    border-radius: 6px;
    width: 50vh;
    text-align: center !important;
}

.login-form .login-field {
    background-color: #212121;
    color: #eee;
    font-family: "Chakra Petch";
}

.login .btn {
    color: #eee !important;
    width: 100% !important;
    background-color: #212121 !important;
}

/*#endregion*/

/*
 * CHAT
 */

/*#region*/

.pastmsg {
    text-align: center;
    padding-right: 250px;
}

.chat-channel {
    background-color: #201F1D;
    height: 50px;
    width: 100%;
}

.chat-channel h1 {
    margin: 0 !important;
    height: 100%;
}

.chat-channel h1::before {
    content: "#";
}

.chat-message {
    padding: 0 5px;
}

.chat-message:hover {
    background: #22292e;
}

.chat-message #timestamp {
    background-color: #556;
    border-radius: 6px;
    text-align: center;
    visibility: hidden;
    position: absolute;
    font-size: 14px;
    color: #fff;
    padding: 5px;
    width: auto;
    z-index: 1;
}

.chat-message:hover #timestamp {
    visibility: visible;
}

.chat-box .form-group {
    margin: 0 !important;
}

.chat {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.chat-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 250px;
    height: 90%;
    width: 100%;
}

.logout {
    position: fixed;
    bottom: 0;
    text-align: center;
}

.administrator::before {
    content: "⚒ ";
    color: #4ecca3;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    margin-bottom: 42px;
    background-color: #263238;
}

.chat-box {
    flex: none;
    color: #fff !important;
}

.chat-side {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #201F1D;
    position: fixed;
    height: 100%;
    text-align: center;
}

.chat-side #users li {
    list-style: none;
}

.chat-side .channel {
    text-align: center;
}

.chat-side #channel:before {
    content: 'Connected to #';
}

.chat-side .chat-container {
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
}

.chat-side .chat-container .form-control {
    background-color: #212121;
    color: #eee !important;
    border-color: #22292e !important;
}

.chat-side .chat-container .form-control ::before {
    content: "#";
}

.chat-side .chat-container a.btn {
    font-size: 18px;
}

.username {
    margin-right: 3px;
}

.username:after {
    content: ' > ';
}

.chat-box {
    margin: 0;
    padding: 0;
    background-color: #201F1D !important;
    width: calc(100% - 250px);
    color: #fff !important;
    padding-bottom: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: none !important;
}

.chat-box .form-control:focus {
    color: #fff;
}

.chat-box input {
    background-color: transparent !important;
    font-size: 18px;
    color: #fff;
    border: none !important;
    margin-bottom: 0;
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .chat-side {
        display: none;
    }

    .chat-content {
        margin-left: 0;
    }

    .chat-box {
        width: 100%;
        margin-left: 0;
    }
}

p {
    margin-bottom: 1px;
}


/*#endregion*/