body {
    background-color: #34495e;
    color: #fff;
}

/*
 * LOGIN & SIGNUP
 */

/*#region*/

.login {
    background-color: #34495e;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.login-form {
    background-color: #edeff1;
    padding: 24px 23px 20px;
    position: relative;
    border-radius: 6px;
}

.login-form .login-field:focus {
    border-color: #e74c3c !important;
}

.login-form .login-field:focus+.login-field-icon {
    color: #e74c3c !important;
}

.login-link:hover {
    color: #e74c3c !important;
}

/*#endregion*/

/*
 * CHAT
 */

/*#region*/

.messages {
    overflow: none;
}

.chat {
    background-color: #34495E;
}

.chat.side {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #2C3E50;
    position: fixed;
    height: 100%;
}

.chat.side .channel,
.chat.side #users {
    margin-left: 19px;
}

.chat.side #channel:before {
    content: 'Channel:';
    margin-right: 3px;
}

.chat.side .banner {
    background-color: #e74c3c;
    text-align: center;
    color: #edeff1;
    font-size: 18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.username {
    margin-right: 3px;
}

.username:after {
    content: ':'
}

.chat.box {
    margin: 0;
    padding: 0;
    background-color: #2C3E50;
    width: calc(100% - 250px);
    color: #fff;
    position: absolute;
    left: 249px;
    bottom: 0px;
    padding-bottom: 0;
}

.chat.box input {
    background-color: transparent !important;
    font-size: 18px;
    color: #fff;
    border: none !important;
    margin-bottom: 0;
    font-size: 20px;
}

.chat.content {
    margin-left: 250px;
    padding: 1px 16px;
    height: 90%;
}

@media screen and (max-width: 800px) {
    .chat.side {
        display: none;
    }

    .chat.content {
        margin-left: 0;
    }

    .chat.box {
        width: 100%;
        margin-left: 0;
    }
}

p {
    margin-bottom: 1px;
}


/*#endregion*/