html,
body {
    background-color: #222;
    height: 100%;
    width: 100%;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
}

.card {
    border-radius: 5px;
}

.button.is-primary {
    background-color: #0a1e27 !important;
}

.card-footer {
    display: block !important;
}

.card-footer p {
    padding: .75rem;
    font-size: 1rem;
}

.card-footer p.help {
    margin-bottom: 0;
    padding-bottom: 0;
}